@mixin container(){
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutters/2;
  padding-right: $gutters/2;
  max-width: $max-width;
}
@mixin container-fluid(){
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@mixin row(){
  display: flex;
  flex-direction: row;
  margin-left: $gutters/-2;
  margin-right: $gutters/-2;
}
@mixin col($size){
  max-width: $size;
  margin-left: $gutters/2;
  margin-right: $gutters/2;
}
@mixin col-nogutters($size){
  display: block;
  max-width: $size;
  margin-left: 0;
  margin-right: 0;
}
