// Grid
// .container{
//   display: flex;
//   margin: 0 auto;
//   max-width: $max-width;
// }
// .row{
//   display: flex;
//   width: 100%;
//   flex-flow: wrap;
//   flex-direction: row;
//   justify-content: center;
// }
// .column{
//   display: flex;
//   flex-direction: column;
// }

// .main__content{
//   max-width: $max-width;
//   justify-content: space-between;
// }
// .main__column--left{
//   display: flex;
//   justify-content: center;
//   width: 500px;
// }
// .main__column--right{
//   display: flex;
//   justify-content: center;
//   width: 430px;
// }
// Sections
.section{
  display: flex;
  padding: 1rem 0;
}
.section--hero{
  padding: 0;
  width: 100%;
}
.section--about{
  // @media screen and (max-width: 500px){
  // & .main__content{
  //   justify-content: space-between;
  // }
  // & .column__item{
  //   margin: 1rem .5rem;
  // }
  // }
  // @media screen and (min-width: $bp-md){
  //   & .column__item--right{
  //     margin-top: 2.666em;
  //     margin-bottom: 2.25rem;
  //   }
  //   & .column__item--left{
  //     max-width: 380px;
  //   }
  // }
}
// .section--blog{
//   flex-direction: column;
//   justify-content: space-between;
//   max-width: $max-width;
//   margin: 0 auto;
// }
// .section__row--first{
//   display: flex;
//   justify-content: center;
//   @media screen and (min-width: 800px){
//     justify-content: space-between;
//
//   }
// }
// .section--events{
//   margin: 0 auto;
//   flex-direction: column;
//   justify-content: space-between;
// }
.section--mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .wrapper{
    background-color: $tan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
// Header
.header{
  width: 100%;
  background-color: transparent;
  position: absolute;
}
.header__content{
}
.header__left{
  margin: .5rem 0 0 .5rem;
  @media screen and (min-width: $bp-md){
    margin: 2rem 0 0 2rem;
  }
}
.header__right{
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

// Footer
.footer{
  background-color: $primary;
  color: $font-color-light;
}
.footer__content{

}
