@import url(https://use.typekit.net/tuf8sse.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff; }

.hamburger-box {
  width: 40px;
  height: 23px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

* {
  box-sizing: border-box; }

html, body {
  font-family: farnham-headline, serif;
  font-size: 18px;
  color: #404040;
  background-color: #ffffff;
  margin: 0 !important;
  padding: 0; }
  @media screen and (min-width: 652px) {
    html, body {
      font-size: 22px; } }
  @media screen and (min-width: 748px) {
    html, body {
      font-size: 24px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

.th {
  font-size: 2.666rem;
  font-weight: 500; }

h1, .t1 {
  font-size: 1.9166rem; }

h2, .t2 {
  font-size: 1.333rem; }

h3, .t3 {
  font-size: 1rem; }

h4, .t4 {
  font-size: 0.9166rem; }

h5, .t5 {
  font-size: 0.8333rem; }

h6, .t6 {
  font-size: 0.5rem; }

a {
  color: #519bbf;
  text-decoration: none;
  padding-bottom: .2rem;
  border-bottom: 2px solid #519bbf; }

a, p {
  font-weight: 300; }

.section {
  display: flex;
  padding: 1rem 0; }

.section--hero {
  padding: 0;
  width: 100%; }

.section--mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section--mission .wrapper {
    background-color: #f6fafc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.header {
  width: 100%;
  background-color: transparent;
  position: absolute; }

.header__left {
  margin: .5rem 0 0 .5rem; }
  @media screen and (min-width: 748px) {
    .header__left {
      margin: 2rem 0 0 2rem; } }

.header__right {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center; }

.footer {
  background-color: #519bbf;
  color: #ffffff; }

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1030px; }

.container--fluid {
  display: flex;
  flex-direction: column;
  max-width: 100%; }

.row {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px; }

.container--about {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1030px; }

.container--events {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 1030px; }

.row--about {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  @media screen and (min-width: 748px) {
    .row--about {
      flex-flow: row;
      justify-content: space-between; } }

.row--blog {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 748px) {
    .row--blog {
      justify-content: center; } }

.row--events {
  display: flex;
  flex-direction: row;
  margin-left: -22px;
  margin-right: -22px;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 748px) {
    .row--events {
      justify-content: center; } }

.row--hero {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  padding-bottom: 2rem;
  justify-content: flex-start;
  align-items: flex-end; }

.column--hero {
  max-width: 830px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: flex-start;
  align-items: flex-end; }

.column--about-left {
  display: block;
  max-width: 500px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column; }

.column--about-right {
  display: block;
  max-width: 430px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column; }

.column--blog {
  max-width: 225px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: .5rem;
  margin-bottom: .5rem; }

.column--event {
  max-width: 315px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.column--mission {
  max-width: 830px;
  margin-left: 15px;
  margin-right: 15px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes topDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(12px);
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bottomUp {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-12px);
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes leftIn {
  0% {
    transform: rotate(45);
    opacity: 0; }
  50% {
    transform: rotate(0);
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes rightIn {
  0% {
    transform: rotate(-45);
    opacity: 0; }
  50% {
    transform: rotate(0);
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes leftOut {
  0% {
    transform: rotate(0);
    opacity: 1; }
  50% {
    transform: rotate(45);
    opacity: .5; }
  100% {
    opacity: 0; } }

@keyframes rightOut {
  0% {
    transform: rotate(0);
    opacity: 1; }
  50% {
    transform: rotate(-45);
    opacity: .5; }
  100% {
    opacity: 0; } }

.btn {
  font-family: farnham-headline, serif;
  font-size: 18px;
  border: 0; }
  .btn:hover {
    cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn--primary {
  padding: 8px 30px;
  border-radius: 6px;
  background-color: #519bbf;
  color: #ffffff;
  font-size: 0.9166rem; }

.btn--light {
  padding: 8px 30px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #519bbf;
  font-size: 0.9166rem; }

.btn--lg {
  padding: 18px 32px;
  font-size: 1rem; }

.btn--hero {
  padding: 18px 32px;
  font-size: 0.8333rem;
  letter-spacing: 1px; }

.btn--blog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 225px;
  height: 171px;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  padding-bottom: 0; }

.btn--bg-red {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413197/Layer_594_gpctfk.png"), linear-gradient(#b50937, #b50937);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-blue {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_584_psr8nr.png"), linear-gradient(#519bbf, #519bbf);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-dblue {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_593_cmf02p.png"), linear-gradient(#00466b, #00466b);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-green {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_596_svwnpt.png"), linear-gradient(#749625, #749625);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-yellow {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_590_rbjccd.png"), linear-gradient(#ebb932, #ebb932);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-purple {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_588_zggu55.png"), linear-gradient(#514e86, #514e86);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.btn--bg-orange {
  background-image: url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413196/Layer_589_rehpxq.png"), linear-gradient(#d77028, #d77028);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center,center; }

.hero {
  width: 100%;
  height: 625px;
  color: #ffffff;
  background-image: linear-gradient(rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4)), url("https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413305/photo-hero_eb9jzk.jpg");
  background-position: center;
  background-size: cover; }
  .hero .container {
    height: 100%; }

.hero__content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2.666rem; }

.img {
  display: block; }

.img-homepage-1 {
  min-width: 350px;
  width: 100%; }

.img-homepage-2 {
  min-width: 350px;
  width: auto; }

.mega-nav {
  height: 80vh;
  width: 100%;
  background-color: #519bbf;
  display: flex;
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .mega-nav a {
    color: #ffffff;
    border: 0; }

.collapsed {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  left: 0;
  display: none; }

.hamburger:focus {
  outline: none; }

.hamburger--inner {
  color: #ffffff; }

.mega-nav__content {
  height: 100%;
  display: flex;
  justify-content: space-between; }

.content__column {
  margin: .5rem;
  min-width: 4rem; }
  .content__column a {
    font-weight: 200;
    font-size: 0.8333rem;
    font-style: normal; }
  .content__column h4 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem; }
  .content__column ul {
    padding: 0; }
  .content__column li {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    line-height: 34px; }

.content__column--big a {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 1.8rem; }

.content__column--big .btn {
  padding: 18px 32px;
  font-size: 1rem; }

.logo__column {
  margin-right: 1rem; }

.mega-nav__footer {
  display: flex;
  justify-content: center;
  font-weight: 300;
  background: #ffffff;
  color: #404040;
  font-weight: 600;
  padding: 1rem;
  text-align: center; }

.hamburger__subtext {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 1.25rem;
  left: 0; }

.text-section-heading {
  text-align: center; }

.text-mission-heading {
  text-align: center; }

.text-mission-body {
  text-align: center; }

.link--important {
  font-size: 0.8333rem; }

.text-mission-heading {
  max-width: 650px; }

.text-mission-body {
  max-width: 830px; }

.event {
  width: 315px;
  margin: 1rem; }

.event__date {
  margin: .25rem 0; }

.event__title {
  margin: .25rem 0; }

.event-title {
  margin: .25rem 0; }

