@mixin container($gutter-width){
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  max-width: $max-width;
}
@mixin container-fluid($gutter-width){
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
}
@mixin row($gutter-width){
  display: flex;
  flex-direction: row;
  margin-left: $gutter-width/-2;
  margin-right: $gutter-width/-2;
}
@mixin row-nogutters(){
  display: flex;
  flex-direction: row;
}
@mixin col($size,$gutter-width){
  max-width: $size;
  margin-left: $gutter-width/2;
  margin-right: $gutter-width/2;
}
@mixin col-nogutters($size){
  display: block;
  max-width: $size;
  margin-left: 0;
  margin-right: 0;
}
