.hero{
  width: 100%;
  height: 625px;
  color: $font-color-light;
  background-image: linear-gradient(rgba($font-color, .4),rgba($font-color, .4)),url('https://res.cloudinary.com/ds0f4qyyt/image/upload/v1543413305/photo-hero_eb9jzk.jpg');
  background-position: center;
  background-size: cover;
  & .container{
    height: 100%;
  }
}
.hero__content{
  & h1{
    margin-bottom: 1.2rem;
  }
}
.wrapper{

}
