.img{
  display: block;
}
.img-homepage-1{
  //  h 552 x  w 500
  min-width:300px;
  width: 100%;
  margin-bottom: 16px;
}
.img-homepage-2{
  // w 427 x h 642
  min-width: 300px;
  width: 100%;
}
.img-buttonbg{
  // w 227 / h 171
}
.img--square{
  // 312 / 312
}

.img-bg-about{
  
}

.img-bg-events{

}
