.input--newsletter{
  width: 204px;
  font-size: 14px;
  padding: 0px 18px;
  margin: 0;
  border: 0;
  box-shadow: 2px 3px 5px 1px rgba($font-color,.08);
}
.form--newsletter{
  display: flex;
  flex-flow: row nowrap;
}
.submit-newsletter{
  background-color: $bg;
  font-size: 14px;
  padding: 10px 18px;
  margin: 0;
  border: 0;
  box-shadow: 2px 3px 5px 1px rgba($font-color,.08);
}
.form-arrow{
  fill: $font-color;
}
