.mega-nav{
  height: 80vh;
  width: 100%;
  background-color: $primary;
  display: flex;
  color: $bg;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 200px;
  & a{
    color: $bg;
    border: 0;
  }
}
.mega-nav__col{

}

.collapsed{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  left: 0;
  display: none;
}
.hamburger{
  &:focus{
    outline: none;
  }
}
.hamburger--inner{
  color: $bg;
}

.mega-nav__content{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.content__column{
  margin: .5rem;
  min-width: 4rem;
  & a {
    font-weight: 200;
    font-size: $f5;
    font-style: normal;
  }
  & h4{
    font-size: $f3;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  & ul{
    padding: 0;
  }
  & li{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    line-height: 34px;
  }
}
.content__column--news{
  & a {
    font-weight: 400;
    font-size: $f3;
    font-style: normal;
    margin-bottom: 1.8rem;
  }
  & .btn{
    padding: 18px 32px;
    font-size: $f3;
  }
}
.logo__column{
  margin-right: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.mega-nav__footer{
  position: absolute;
  z-index: 99999999;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  background: $bg;
  color: $font-color;
  font-weight: 600;
  padding: 2rem;
  padding-left: 200px;
  text-align: center;
}
.hamburger__subtext{
  color: $bg;
  font-size: 18px;
  position: absolute;
  top: 1.25rem;
  left: 0;
}
