.mega-nav{
  overflow: hidden;
  height: 80vh;
  width: 100%;
  background-color: $primary;
  display: flex;
  color: $bg;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0);
  & a{
    color: $bg;
    border: 0;
  }
  @media screen and (max-width: $bp-lg){
      padding-left: 50px;
      padding-right: 50px;
  }
}
.mega-nav__col{

}

.mega-collapsed{
  transform: translate(99999px);
  display: none;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease;
  left: 0;
}
.hamburger{
  &:focus{
    outline: none;
  }
}
.hamburger--inner{
  color: $bg;
}

.mega-nav__content{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.content__column{
  margin: .5rem;
  min-width: 4rem;
  & a {
    font-weight: 200;
    font-size: $f5;
    font-style: normal;
  }
  & h4{
    font-size: $f3;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  & ul{
    padding: 0;
  }
  & li{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    line-height: $f2;
  }

}
.content__column--news{
  & a {
    font-weight: 400;
    font-size: $f3;
    font-style: normal;
  }
  & li{
    margin-bottom: 15px;
  }
  & .btn{
    padding: 18px 32px;
    font-size: $f3;
  }
}
.logo__column{
  margin-right: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  @media screen and (max-width: $bp-lg){
    display: none;
  }
}

.mega-nav__footer{
  position: absolute;
  z-index: 99999999;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 300;
  font-size: 20px;
  background: $bg;
  color: $font-color;
  font-weight: 600;
  text-align: center;
  padding: 40px;
  @media screen and (max-width: $bp-lg){
      margin: 0;
      flex-flow: column wrap;
      justify-content: center;
  }
}
.nav-footer-container{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-left: 135px;
  & span{
    display: inline-block;
  }
  & .social-bar{
    width: 150px;
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    justify-content: space-between;
    fill: $font-color;
    transition: .3s ease-out;
    & .social :hover{
      transition: .3s ease-out;
      fill: $primary;
    }
  }
  @media screen and (max-width: $bp-lg){
      margin: 0;
      flex-flow: column wrap;
      justify-content: center;
      & span{
        width: 100%;
        text-align: center;
      }
      & .social-bar{
        margin-top: 1rem;
        margin-right: auto;
      }
  }
}
.hamburger__subtext{
  color: $bg;
  font-size: 18px;
  position: absolute;
  top: 1.25rem;
  left: 0;
}

.is-active .hamburger__subtext{
  display: none;
}
