.text-lead{

}
.text-cta{

}
.text-section-heading{
  text-align: center;
}
.text-address{

}
.text-legal{

}
// Mission Statement
.text-mission-heading{
  text-align: center;
}
.text-mission-body{
  text-align: center;
}
// Link
.link--important{
  font-size: $f5;
}

// Mission
.text-mission-heading{
  max-width: 650px;
}
.text-mission-body{
  max-width: 830px;
}
